{% extends 'base.html.twig' %}

{% block title %}FAQ index{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>FAQ index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Questions</th>
                <th>Réponses</th>
                <th>Catégories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.id }}</td>
                <td>{{ faq.question }}</td>
                <td>{{ faq.answer }}</td>
                <td>{{ faq.Category }}</td>
                <td>
                    <a href="{{ path('faq_show', {'id': faq.id}) }}">Montrer</a>
                    <a href="{{ path('faq_edit', {'id': faq.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('faq_new') }}">Créer une nouvelle question/réponse</a>
</div>
    
{% endblock %}
