{% extends 'base.html.twig' %}

{% block title %}Bienvenue - CampinGarden{% endblock %}

{% block body %}

    <div class="head row d-flex">
        <div class="title">
            <h1>"Dans un voyage ce n'est pas la destination qui compte mais toujours le chemin parcouru et les détours surtout"</h1>
            <small>Bienvenue sur CampinGarden</small>
        </div>
        <div class="search">
            <h3>Vous souhaitez partir? Recherchez ici dans les villes qui vous intéressent</h3>
            <div class="input-group" id="search-input">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="Search..."/>
                </div>
                <button type="button" class="btn btn-info">
                    <i class="ri-search-line"></i> Recherchez
                </button>
            </div>
        </div>
    </div>


<div class="popular text-center">
    <h3>Météo</h3>
    <hr class="style1">
</div>
<br>
<div class="container d-flex justify-content-around align-items-center">

            <form>
                <div class="form-groupe">
                    <input type="text" class="form-control" id='inputcity'/>
                </div>

                <button type="submit" class="btn btn-info btn-block">Rechercher</button>
            </form>
    <br>
                <div id="city" class="box"></div>
                <div id="temp" class="box"></div>
                <div id="humidity" class="box"></div>
                <div id="wind" class="box"></div>

</div>
    <div class="popular_content col-12" style="max-width: 80vw; margin-left: auto; margin-right: auto;">
        <div class="popular text-center">
            <h3>Destinations Récentes</h3>
            <hr class="style1">
        </div>
        <br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="max-width: 80vw; margin-left: auto; margin-right: auto">
                {% for host in hosts %}
                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% for image in host.images %}
                                {% for image in host.images %}
                                    <div>
                                        <img src="{{ asset('/uploads/'~image.name) }}" alt="{{ host.title }}" width="95%">
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ host.title }}</h5>
                                <p class="card-text">{{ host.summarise | slice(0, 150)}}</p>
                                <p class="card-text">Situé en {{ host.region }}</p>
                                <br>
                                <hr>
                                <br>
                                <p class="card-text">Vous souhaitez réserver ce terrain? N'hésitez plus, contactez l'hôte</p>
                                <a class="btn btn-info" href="{{ path('host_show', {'id': host.id}) }}">Voir l'hote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <a href="{{ path('host_host') }}">Voir toutes les destinations</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <section class="jumbotron text-center newsletter" style="margin-left: auto; margin-right: auto">
        <div class="container">
            <h1>Pour recevoir notre Newsletter</h1>
            <div class="input-group" id="search-input">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="Entrez votre Email"/>
                </div>
                <button type="button" class="btn btn-info">Valider l'email</button>
            </div>
        </div>
    </section>
<br>
<br>
    <div class="popular text-center">
        <h3>Lieux à visiter Récents</h3>
        <hr class="style1">
    </div>
    <br>
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="max-width: 80vw; margin-left: auto; margin-right: auto">
            {% for environnement in environnements %}
                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% for image in environnement.images %}
                                    {% for image in environnement.images %}
                                        <div>
                                            <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100%">
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ environnement.title }}</h5>
                                    <p class="card-text">{{ environnement.description | slice(0, 300)}}</p>
                                    <p class="card-text">Situé en {{ environnement.region }}</p>
                                    <br>
                                    <hr>
                                    <br>
                                    <p class="card-text">Vous souhaitez réserver ce terrain? N'hésitez plus, contactez l'hôte</p>
                                    <a class="btn btn-info" href="{{ path('environnement_show', {'id': environnement.id}) }}">Voir le lieu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <a href="{{ path('host_host') }}">Voir tous les lieux à visiter</a>
    <br>
    <br>
    </div>
    </div>
    <div class="popular text-center">
        <h3>Besoin de conseil?</h3>
        <br>
        <hr class="style1">
        <br>
        <h4>Faites un tour sur notre blog</h4>
        <br>
        <a href="{{ path('blogpost_blog') }}">Voir le blog</a>
        <br>
    </div>
    <div class="popular_content" style="max-width: 80vw; margin-left: auto; margin-right: auto">
        <div class="album text-center">
            <div class="row">
                    {% for blogpost in blogposts %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% for image in blogpost.images %}
                                    {% for image in blogpost.images %}
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('/uploads/'~image.name) }}" alt="{{ blogpost.title }}">
                                    {% endfor %}
                                {% endfor %}
                                <div class="card-body">
                                    <h4 class="card-title">{{ blogpost.title | slice(0, 20)}}</h4>
                                    <p class="card-text">{{ blogpost.content | slice(0, 80)}}...</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-info" href="{{ path('blogpost_show', {'id': blogpost.id}) }}">Voir l'article</a>
                                        </div>
                                        <small class="text-muted">Crée le {{ blogpost.createdAt ? blogpost.createdAt|date('d-m-Y') : '' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
    </div>



{% endblock %}
