{% extends 'base.html.twig' %}

{% block title %}Blogpost index{% endblock %}
{% set body_class = 'admin' %}
{% block body%}

    <h1>Blogpost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogpost in blogposts %}
            <tr>
                <td>{{ blogpost.id }}</td>
                <td>{{ blogpost.title }}</td>
                <td>{{ blogpost.content }}</td>
                <td>{{ blogpost.createdAt ? blogpost.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('blogpost_show', {'id': blogpost.id}) }}">show</a>
                    <a href="{{ path('blogpost_edit', {'id': blogpost.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blogpost_new') }}">Create new</a>
{% endblock %}
