{% extends 'base.html.twig' %}

{% block title %}{{ blogpost.title }}{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="intro-body">
            <div class="container col-12 d-flex flex-column align-items-center">
                <h3 class="title" style="margin-top: 10%">{{ blogpost.title }}</h3>
                <br>
                {% for image in blogpost.images %}
                    {% for image in blogpost.images %}
                        <img src="{{ asset('/uploads/'~image.name) }}" alt="{{ blogpost.title }}">
                    {% endfor %}
                {% endfor %}
                <div class="body col-6">
                    <br>
                    <p class="text">{{ blogpost.content }}</p>
                    <p class="text">{{ blogpost.createdAt ? blogpost.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <p class="text">Catégorie {{ blogpost.category}}</p>
                    <a href="{{ path('blogpost_index') }}"><i class="ri-arrow-left-line"></i>Retourner au blog</a>
                    <br>
                    <a href="{{ path('blogpost_edit', {'id': blogpost.id}) }}">edit</a>

                    {{ include('blogpost/_delete_form.html.twig') }}

                </div>
            </div>
        </div>
    </header>

{% endblock %}
